.jumbotron {
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid;
  box-shadow: 5px 10px #888888;
}

.form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.loginForm {
  margin-top: 10em;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.author {
  text-align: right;
  color: #333;
  padding: 10px;
}
.voteButtons {
  display: flex;
  margin: auto;
}

.commentInput {
  max-width: 1000px;
  margin: 0 auto;
}

.topicView {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: 2em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #333;
}

.topicView:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px #4caf50;
}

.articleView {
  text-decoration: none;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: 2em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #333;
}

.articleView:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px #4caf50;
}

.link {
  color: black;
}

.link:hover {
  text-decoration: none;
  color: black;
}

.articleTitle:hover {
  letter-spacing: 3px;
}
