.jumbotron {
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid;
  box-shadow: 5px 10px #888888;
}

.form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.loginForm {
  margin-top: 10em;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.author {
  text-align: right;
  color: #333;
  padding: 10px;
}
.voteButtons {
  display: flex;
  margin: auto;
}

.commentInput {
  max-width: 1000px;
  margin: 0 auto;
}

.topicView {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: 2em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #333;
  transition: 0.5s;
}

.topicView:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px #4caf50;
  transition: 0.5s;
}

.articleList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.articleView {
  text-decoration: none;
  margin-bottom: 2em;
  margin-left: 0em;
  margin-right: 2em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0.5em 10px #333;
  transition: 0.4s;
  min-width: 19em;
  max-width: 19em;
  min-height: 11.25em;
}

.articleView:hover {
  transform: scale(1.02);
  box-shadow: 0.5em 0.5em #4caf50;
}

.link {
  color: black;
}

.link:hover {
  text-decoration: none;
  color: black;
}

.articleTitle {
  transition: 0.4s;
}

.articleTitle:hover {
  letter-spacing: 1px;
}

.footerChildren {
  background: #333;
  padding: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.footerChildren {
  animation: bounce 1s linear;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.footer {
  display: block;
  padding: 20px;
  height: 50px;
  width: 100%;
}

.e404 {
  font-size: 150px;
}

.noInput {
  color: red;
}

.noInput {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
